<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testmodule">

    <application>
        <activity android:name=".bassdifftest.BassdiffTestActivity"></activity>
        <activity android:name=".jpeg.JpegTestActivity" />
        <activity android:name=".databinding.TestActivity3" />
        <activity android:name=".livedata.TestActivity2" />
        <activity android:name=".map.TestActivity" />
        <activity android:name=".cordova.CordovaMainActivity"/>
    </application>

</manifest>