<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.common" >

    <application
        android:networkSecurityConfig="@xml/common_network_security_config">
        <meta-data
            android:name="bugly"
            android:value="${bugly}"/>
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent"
            tools:ignore="WrongManifestParent" />
        <provider
            android:name=".bugly.BuglyFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/common_file_paths"
                tools:replace="name,resource"/>
        </provider>

        <meta-data android:name="com.amap.api.v2.apikey" android:value="${map}"/>
    </application>
</manifest>
