<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ftpmodule" >
    <application>
        <meta-data
            android:name="ftpKey"
            android:value="${ftpKey}"/>
        <provider
            android:authorities="${applicationId}.provider"
            android:name=".DownLoadProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>
